[Unit]
Description=Regularroutes scheduler
Requires=postgresql.service

[Service]
Environment=REGULARROUTES_SETTINGS=/opt/regularroutes/regularroutes.cfg
Environment=PYTHONUNBUFFERED=yes
ExecStart=/opt/regularroutes/virtualenv/bin/python scheduler.py
User=lerero
WorkingDirectory=/opt/regularroutes/server

[Install]
WantedBy=multi-user.target
