[Unit]
Description=Regularroutes api

[Service]
Environment=REGULARROUTES_SETTINGS=/opt/regularroutes/regularroutes.cfg
Environment=PYTHONUNBUFFERED=yes
ExecStart=/opt/regularroutes/virtualenv/bin/gunicorn --bind 127.0.0.1:5000 -t 60 -w 4 apiserver:app
User=lerero
WorkingDirectory=/opt/regularroutes/server

[Install]
WantedBy=multi-user.target
