[Unit]
Description=Regularroutes scheduler

[Service]
Environment=REGULARROUTES_SETTINGS=/opt/regularroutes/regularroutes.cfg
ExecStart=/opt/regularroutes/virtualenv/bin/python scheduler.py
User=lerero
WorkingDirectory=/opt/regularroutes/server

[Install]
WantedBy=multi-user.target
